#divP {
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
}

#divP #hours {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#divP #temp {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
